<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="/static/css/form.css">

</head>
<body>

<h2><center>Report an Event	الإبلاغ عن حدث</center></h2>


<div class="container">
  <form action="">
  <div class="row">
	  <div class="col-25">
        <label for="type">Type النوع</label>
	  </div>
	 <div class="col-75">
        <select id="type" name="type">
       	  <option value="1">Car Accident حادث سيارة</option>
          <option value="2"> Checkpoint نقطة تفتيش</option>
          <option value="3">Confrontation مواجهات</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="type">Severity الخطورة</label>
        </div>
    <div class="col-75">
      <select id="severity" name="type">
         <option value="1">Dangerous خطر</option>
        <option value="2">Moderate متوسط</option>
        <option value="3">Normal عادي</option>
      </select>
    </div>
      </div>
    </div>
	<div class="row">
	  <div class="col-25">
        <label for="type">Location المكان</label>
	  </div>
	 <div class="col-75">
        <select id="location" name="type">
       	  <option value="1"> My Location مكاني</option>
          <option value="2"> Other غير ذلك</option>
          
        </select>
      </div>
	
    </div>
	<div class="row">
     
    </div>
    <div class="row">
      <div>
        <textarea id="place" name="place" placeholder="اذا كان خيارك غير ذالك" style="height:200px"></textarea>
      </div>
    </div>
    <!--<div class="row">
     <input href="http://localhost:5000/" type="submit" value="أرسل" >
    </div>
    <a>

    </a>-->
    <a href="http://localhost:5000/"><button type="button" >Submit</button></a>
  </form>
</div>

</body>
</html>
